/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.breadcrumbs__link {
  display: flex;
  align-items: center; /* Aligns the Home button vertically */
  justify-content: center;
  text-decoration: none;
}

.breadcrumbs__item {
  display: flex;
  align-items: center; /* Ensures each breadcrumb item is vertically centered */
}
